<html>
  <head>
    <title>Message Board</title>
    <link rel ="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class="messagesContainer">
      <% messages.forEach((message, i) => { %>
        <div class="message">
          <div class="msgText"><a href="/message/<%= message.id %>"><%= message.text %></a></div>
          <div class="msgAuthor"><%= message.user %></div>
          <div class="msgDate"><%= message.added %></div>
        </div>
      <% }); %>
    </div>
    <div>
      <a href="/new">New Message</a>
    </div>
  </body>
</html>

